---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

@import "minimal-mistakes/skins/default"; // skin
@import "minimal-mistakes"; // main styles

/* Custom Native Modern Utility CSS */
html {
  scroll-behavior: smooth;
}

iframe, embed, object, video {
  aspect-ratio: 16 / 9;
  width: 100%;
  height: auto;
}

/* Flexbox Sticky Footer */
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.initial-content {
  flex: 1 0 auto;
}

.page__footer {
  flex-shrink: 0;
}


